* {
    background-color: black;
    color: whitesmoke;
}

.top-line {
    text-align: center;
    position: relative;
    font-family: "Limelight", sans-serif;
}

h1 {
    border-radius: 20px;
    border: solid whitesmoke;
    border-width: thin;
    margin-top: 1px;
}

button {
    font-size: 20px;
    font-family: "Limelight", sans-serif;
    text-align: center;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    float: left;
    margin-top: 6px;
    margin-left: 15px;

}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#cocktail-container {
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 50px;
}

.drinkName {
text-align: center;
}

.drinkIns {
    word-wrap: normal;
    width: 400px;
}

.movieImg,
.drinkImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 400px;

}

.movieImg {
    box-shadow: 0px 0px 10px 5px white;
}

.drinkImg {
    box-shadow: 0px 0px 10px 6px rgb(114, 113, 113);
}

.movie-title,
.title {
    font-size: 30px;
    margin-top: 1%;
    text-align: center;
}

.title {
    margin-top: 25px;
}

h4 {
    text-align: center;
}